// Tools
@use "../../style/utils/vars" as v;
@use "../../style/utils/mixins" as m;

body {
    background: url(../../assets/images/home-bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    @include m.flex(column);
}

.wrap {  
}