// Tools
@use "../../style/utils/vars" as v;
@use "../../style/utils/mixins" as m;

body {
    background-color: black;
    width: 100%;
    height: 100vh;
}

.wrap {
    border: 2px solid green;
    @include m.flex;
}

